@font-face {
    font-family: "Spotify";
    src: url("./fonts/GothamBook.ttf");
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* ######################################## */
/* ####### COMMON HTML-CSS SELECTOR ####### */
/* ######################################## */
body{
    font-weight: 500;
    color: white !important;
    font-family: Spotify;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
} 

a, a:hover {
    text-decoration: none !important;
}

a {
    color: gray !important;
}
a:hover {
    color: white !important;
}

ul, li {
    list-style: none !important;
}

.reflex {
    transform: rotateY(180deg);
}

/* ################################# */
/* ####### COMPONENT CLASSES ####### */
/* ################################# */
.bttn {
    text-decoration: none;
    border-radius: 20px;
    font-size: 0.8rem;
    font-weight: 600;
}
.light_outline {
    color: white;
    padding: 8px 50px;
    border: 1px solid white;
}
.bttn:hover {
    text-decoration: none;
    background-color: white;
    color: black !important;
}



/* BARRA VOLUME + MUSICA */
.bar_off {
    border-radius: 20px;
    display: inline-block;
    position: relative;
    height: 5px;
    background-color: gray;
    cursor: pointer;
}
.bar_live {
    border-radius: 20px;
    display: inline-block;
    height: 5px;
    background-color: white;
    position: absolute;
    top: 0;
    left: 0;
    width: 30%;
}
.bar_sphere {
    display: none;
    position: absolute;
    top: 1px;
    right: -20px;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    background-color: yellowgreen;
}
.bar_off:hover .bar_live {
    background-color: yellowgreen;
}
.bar_off:hover .bar_sphere {
    display: inline-block;
}

.bar_music {
    width: 450px;
    margin: 0px 30px;
}
.bar_volume {
    width: 150px;
    margin: 0px 5px;
}




/* ALBUM CARD */
.album_card {
    text-align: center;
    margin: 10px 20px 10px 0px;
    max-width: 200px;
}
.album_card * {
    margin: 5px 0px;
}
.album_card img {
    max-width: 200px;
}
.card_title {
    font-size: 1.1rem;
    font-weight: 900;
}
.card_subtitle {
    color: gray;
    font-size: 0.8rem;
}


/* ############################## */
/* ####### HEADER CLASSES ####### */
/* ############################## */
header {
    height: 100px;
    width: 100%;
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    background-color: black;
    overflow: hidden;
    opacity: 0.8;
    padding: 15px;
}
#logo {
    height: 50px;
}





/* ################################# */
/* ####### MAIN PAGE CLASSES ####### */
/* ################################# */
main {
    height: 100vh;
    width: 100vw;
    background-color: #141922;
}



/* ############################### */
/* ####### SIDEBAR CLASSES ####### */
/* ############################### */
aside {
    height: 100%;
    min-width: 260px;
    top: 0;
    left: 0;
    z-index: 0;
    background-color: black;
    overflow: hidden;
    padding: 100px 15px 140px 0px;
    color: gray !important;
}
aside > div:not(:first-child) {
    padding: 0px 25px;
}
aside ul {
    list-style: none;
}
aside li {
    text-align: left;
    display: flex;
    align-items: center;
    margin: 10px 0px;
    padding: 0px 25px;
    font-size: 0.8rem;
}
aside .button_list img {
    height: 35px;
    margin-right: 10px;
}

#Home {
    border-left: 3px inset greenyellow ;
}
#Home a {
    color: white !important;
}


.side_playlist h5 {
    color: white;
    font-weight: 900;
}

.create_playlist > * {
    margin: 15px 0px;
}

.bttn_addplay * {
    margin-right: 10px;
}
.bttn_addplay:hover .add_playlist {
    background-color: white;
}

.add_playlist {
    background-color: gray;
    display: inline-block;
    height: 50px;
    width: 50px;
}
.add_playlist i {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
    font-size: 1.5rem;
}
.side_list_playlist {
    max-height: 250px;
}
.side_list_playlist li {
    padding: 0px 0px;
    margin: 15px 0px;
}

.side_profile_section {
    height: 100%;
}
.side_profile_section hr {
    border: none;
    height: 1px;
    background-color: gray;
}
.download_app a * {
    margin-right: 10px;
    font-weight: 600;
}

.side_profile > * {
    margin-right: 15px;
    font-weight: 600;
    color: white;
    cursor: pointer;
}
#Profile_img {
    height: 30px;
    width: 30px;
    background-color: gray;
    border-radius: 50%;
}


/* ################################# */
/* ####### CORE PAGE CLASSES ####### */
/* ################################# */
.core_div {
    padding-top: 110px;
    margin-bottom: 100px;
    width: 100vw;
}
.core_nav {
    width: 100%;
}
.core_nav li {
    margin: 0px 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 0.9rem;
}
.dash_nav {
    margin: 3px 0px;
    width: 40px;
    height: 3px;
    background-color: yellowgreen;
    display: none;
}
.dash_nav_ON {
    margin: 3px 0px;
    width: 40px;
    height: 3px;
    background-color: yellowgreen;
    display: inline-block;
}
.core_nav li:hover .dash_nav {
    display: inline-block;
}

.row_main {
    padding: 0px 15px;
    margin-bottom: 20px;
}
.row_main > h3 {
    margin-bottom: 10px;
    font-weight: 900;
}
.row_main > h5 {
    color: gray;
    font-size: 0.8rem;
    margin-bottom: 20px;
}



/* ############################## */
/* ####### FOOTER CLASSES ####### */
/* ############################## */
.controller {
    height: 120px;
    width: 100%;
    position: fixed;
    z-index: 2;
    bottom: 0;
    left: 0;
    background-color: #282828;
    overflow: hidden;
    padding: 25px;
}
.controller * {
    height: none !important;
}

.left_controller {
    width: 20%;
}
.left_controller img {
    height: 65px;
    margin-right: 15px;
}
.left_controller > div {
    margin-right: 50px;
    width: 90px;
}
.left_controller i {
    margin: 0px 10px;
    color: gray;
}
.left_controller i:hover {
    color: white;
    cursor: pointer;
}
.albumname_preview {
    color: white;
    font-weight: 800;
}
.songname_preview {
    font-size: 0.8rem;
}

.console {
    width: 80%;
}
.console > * {
    margin: 5px 0px;
}
.commands_console * {
    margin: 0px 15px;
    cursor: pointer;
}
.commands_console i[class*="circle"] {
    font-size: 2rem;
    margin: 0px 20px;
}
.music_bar h6 {
    font-size: 0.8rem;
}

.right_controller {
    width: 20%;
}
.right_controller i:not(:last-child) {
    margin: 0px 10px;
}
.right_controller i[class*="desktop"]{
    font-size: 0.8em;
}